* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right , #2c5364, #0f2027);
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

.slider{
    position: relative;
    width: 170px;
    height: 170px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}

.slider span{
    position: absolute;
    top: -123px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

.basic{
    position: absolute;
    left: 39px;
    top: 451px;
    clip-path: inset(5% 6% 6% 4%);
    background-color: #0abde3;
    width: 360px;
    height: 228px;
}

#Bh{
    position: absolute;
    left: 39px;
    top: 20px;
    font-size: 2rem;
    color: #30336b;
}

#b1{
    position: absolute;
    left: 39px;
    top: 57px;
    font-size: 1.5rem;
    color: black;
}