* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right , #2c5364, #0f2027);
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

.slider{
    position: relative;
    width: 170px;
    height: 170px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}

.slider span{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

#css{
    position: absolute;
    left: 39px;
    top: 460px;
    color: #F3BF06;
    font-size: 40px;
}

.basic{
    position: absolute;
    left: 39px;
    top: 510px;
    clip-path: inset(5% 6% 6% 4%);
    /*background-color: #0abde3;*/
    background: rgba(160, 206, 228, 0.48);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(160, 206, 228, 0.14);
    width: 333px;
    height: 253px;
}

#Bh{
    position: absolute;
    left: 39px;
    top: 20px;
    font-size: 2rem;
    color: #6D214F;
}

#b1{
    position: absolute;
    left: 39px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b2{
    position: absolute;
    left: 39px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}

#b3{
    position: absolute;
    left: 39px;
    top: 168px;
    font-size: 1.5rem;
    color: black;
}

#b4{
    position: absolute;
    left: 175px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b5{
    position: absolute;
    left: 175px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}

#b6{
    position: absolute;
    left: 175px;
    top: 168px;
    font-size: 1.5rem;
    color: black;
}

 /*=============================================*/

.Transitions{
    position: absolute;
    left: 510px;
    top: 510px;
    clip-path: inset(5% 6% 6% 4%);
    /*background-color: #0abde3;*/
    background: rgba(160, 206, 228, 0.48);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(160, 206, 228, 0.14);
    width: 333px;
    height: 253px;
}

#Th{
    position: absolute;
    left: 39px;
    top: 20px;
    font-size: 2rem;
    color: #6D214F;
}

#b7{
    position: absolute;
    left: 39px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b8{
    position: absolute;
    left: 39px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}

/*=============================================*/

.Animations{
    position: absolute;
    left: 981px;
    top: 510px;
    clip-path: inset(5% 6% 6% 4%);
    /*background-color: #0abde3;*/
    /* From https://css.glass */
    background: rgba(160, 206, 228, 0.48);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(160, 206, 228, 0.14);
    width: 333px;
    height: 253px;
}

#Ah{
    position: absolute;
    left: 39px;
    top: 20px;
    font-size: 2rem;
    color: #6D214F;
}

#b9{
    position: absolute;
    left: 39px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b10{
    position: absolute;
    left: 39px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}

#b11{
    position: absolute;
    left: 39px;
    top: 168px;
    font-size: 1.5rem;
    color: black;
}

#b12{
    position: absolute;
    left: 175px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

/*======================================================*/

.js{
    position: absolute;
    left: 39px;
    top: 915px;
    clip-path: inset(5% 6% 6% 4%);
    /*background-color: #0abde3;*/
    background: rgba(160, 206, 228, 0.48);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(160, 206, 228, 0.14);
    width: 333px;
    height: 253px;
}


#js{
    position: absolute;
    left: 39px;
    top: 832px;
    color: #F3BF06;
    font-size: 40px;
}

#b13{
    position: absolute;
    left: 39px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b14{
    position: absolute;
    left: 39px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}

#b15{
    position: absolute;
    left: 39px;
    top: 168px;
    font-size: 1.5rem;
    color: black;
}

#b16{
    position: absolute;
    left: 225px;
    top: 68px;
    font-size: 1.5rem;
    color: black;
}

#b17{
    position: absolute;
    left: 225px;
    top: 118px;
    font-size: 1.5rem;
    color: black;
}