
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
/*--------------------Contact Me-------------------------*/
main>section:nth-child(13){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 750px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(13)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 750px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(13)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -325px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
    position: absolute;
    left:41px;
    top: 254px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/user.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 10px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 50px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
    position: absolute;
    left:41px;
    top: 384px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/location.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: -10px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 31px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
    position: absolute;
    margin-left: 107px;
    margin-top: 63px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
    position: absolute;
    left:41px;
    top: 514px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/phone.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 0px;
    font-size: 23px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 43px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
    position: absolute;
    left:41px;
    top: 644px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/email.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 3px;
    font-size: 23px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 48px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
    position: absolute;
    left:608px;
    top: 93px;
    width: 636px;
    background: #c21e1e;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
    position: absolute;
    left: -112px;
    font-size: 21px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
    position: absolute;
    left: -112px;
    top: 57px;
    font-size: 21px;
    width:824px ;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
    position: absolute;
    left:490px;
    top: 257px;
    width: 793px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    left: 343px;
    top: -1px;
    font-size: 27px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
    position: absolute;
    left:99px;
    top: 44px;
    width: 749px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
    position: absolute;
    left:1px;
    top: 1px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
    position: absolute;
    left:1px;
    top: 45px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
    position: absolute;
    left:1px;
    top: 89px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
    position: absolute;
    left:1px;
    top: 133px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
    position: absolute;
    left:247px;
    top: 357px;
    background-color: #283641;
    opacity: 0.8;
    font-size: 21px;
    border: 2px solid #F3BF06;
    color: #FFFFFF;
    height: 37px;
    width: 150px;
}



