
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
/*--------------------Contact Me-------------------------*/
main>section:nth-child(13){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 750px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(13)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 750px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(13)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -325px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
    position: absolute;
    left:41px;
    top: 254px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/user.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 10px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 50px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
    position: absolute;
    left:41px;
    top: 384px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/location.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: -10px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 31px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
    position: absolute;
    margin-left: 107px;
    margin-top: 63px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
    position: absolute;
    left:41px;
    top: 514px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/phone.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 0px;
    font-size: 23px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 43px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

/*-------------------------------------------*/

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
    position: absolute;
    left:41px;
    top: 644px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
    position: absolute;
    width: 75px;
    height: 75px;
    background: url("../../assests/images/email.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
    position: absolute;
    margin-left: 107px;
    margin-top: 3px;
    font-size: 23px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
    position: absolute;
    margin-left: 107px;
    margin-top: 48px;
    font-size: 17px;
    width: 213px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
    position: absolute;
    left:608px;
    top: 93px;
    width: 636px;
    background: #c21e1e;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
    position: absolute;
    left: -112px;
    font-size: 21px;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
    position: absolute;
    left: -112px;
    top: 57px;
    font-size: 21px;
    width:824px ;
    color: #FFFFFF;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
    position: absolute;
    left:490px;
    top: 257px;
    width: 793px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    left: 343px;
    top: -1px;
    font-size: 27px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
    position: absolute;
    left:99px;
    top: 44px;
    width: 749px;
    z-index: 5;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
    position: absolute;
    left:1px;
    top: 1px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
    position: absolute;
    left:1px;
    top: 45px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
    position: absolute;
    left:1px;
    top: 89px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
    position: absolute;
    left:1px;
    top: 133px;
    background: #283641;
    opacity: 0.5;
    color: #FFFFFF;
    box-shadow: -1px -3px 6px 0px #D0C4C4;
    width: 687px;
}

main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
    position: absolute;
    left:247px;
    top: 357px;
    background-color: #283641;
    opacity: 0.8;
    font-size: 21px;
    border: 2px solid #F3BF06;
    color: #FFFFFF;
    height: 37px;
    width: 150px;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    main>section:nth-child(13){
        top:0px;
        left: 0;
        height: 460px;
        width: 320px;
    }

    main > section:nth-child(13)>div:nth-child(1){
        height: 460px;
        width: 320px;
    }

    main > section:nth-child(13)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(2)>h1{
        font-size: 13px;
        top: -381px;
    }

    main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
        top: -354px;
        left: 1px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left:2px;
        top: 32px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
        width: 45px;
        height: 45px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 11px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
        margin-left: 47px;
        margin-top: 26px;
        font-size: 9px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left:2px;
        top: 70px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
        width: 45px;
        height: 45px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 11px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
        margin-left: 47px;
        margin-top: 26px;
        font-size: 9px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
        margin-left: 47px;
        margin-top: 38px;
        font-size: 9px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
        left:2px;
        top: 113px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
        width: 45px;
        height: 45px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 12px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
        margin-left: 45px;
        margin-top: 28px;
        font-size: 9px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
        left:2px;
        top: 151px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
        width: 45px;
        height: 45px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 12px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
        margin-left: 45px;
        margin-top: 28px;
        font-size: 9px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
        left:167px;
        top: 30px;
        width: 40px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
        left: -129px;
        font-size: 10px;
        width: 185px;
        top: 155px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
        left: -155px;
        top: 186px;
        font-size: 10px;
        width:286px ;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
        left:-192px;
        top: 242px;
        width: 200px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
        left: 289px;
        top: 24px;
        font-size: 13px;
        width: 85px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
        left:99px;
        top: 48px;
        width: 150px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
        left:105px;
        top: 1px;
        width: 240px;
        height: 10px;
        font-size: 9px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
        left:105px;
        top: 26px;
        width: 240px;
        height: 10px;
        font-size: 9px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
        left:105px;
        top: 49px;
        width: 240px;
        height: 10px;
        font-size: 9px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
        left:105px;
        top: 72px;
        width: 240px;
        height: 60px;
        font-size: 9px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
        left:196px;
        top: 140px;
        font-size: 10px;
        border: 1px solid #F3BF06;
        height: 15px;
        width: 60px;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    main>section:nth-child(13){
        top: 0px;
        left: 0;
        height: 520px;
        width: 375px;
    }

    main > section:nth-child(13)>div:nth-child(1){
        height: 520px;
        width: 375px;
    }

    main > section:nth-child(13)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -381px;
        width: 210px;
    }

    main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
        top: -350px;
        left: 1px;
        width: 28px;
        height: 2px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left:2px;
        top: 32px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
        width: 50px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 11px;
        font-size: 12px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
        margin-left: 47px;
        margin-top: 26px;
        font-size: 10px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left:2px;
        top: 80px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
        width: 50px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 11px;
        font-size: 13px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
        margin-left: 47px;
        margin-top: 26px;
        font-size: 10px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
        margin-left: 47px;
        margin-top: 38px;
        font-size: 10px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
        left:2px;
        top: 123px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
        width: 50px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 15px;
        font-size: 13px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
        margin-left: 45px;
        margin-top: 31px;
        font-size: 10px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
        left:2px;
        top: 161px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
        width: 50px;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
        margin-left: 47px;
        margin-top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
        margin-left: 45px;
        margin-top: 28px;
        font-size: 10px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
        left:167px;
        top: 30px;
        width: 40px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
        left: -129px;
        font-size: 12px;
        width: 225px;
        top: 174px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
        left: -155px;
        top: 205px;
        font-size: 12px;
        width:308px ;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
        left:-192px;
        top: 242px;
        width: 200px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
        left: 289px;
        top: 64px;
        font-size: 14px;
        width: 90px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
        left:99px;
        top: 98px;
        width: 150px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
        left:105px;
        top: 1px;
        width: 255px;
        height: 15px;
        font-size: 10px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
        left:105px;
        top: 27px;
        width: 255px;
        height: 15px;
        font-size: 10px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
        left:105px;
        top: 51px;
        width: 255px;
        height: 15px;
        font-size: 10px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
        left:105px;
        top: 76px;
        width: 255px;
        height: 60px;
        font-size: 10px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
        left:196px;
        top: 150px;
        font-size: 12px;
        border: 1px solid #F3BF06;
        height: 18px;
        width: 63px;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    main>section:nth-child(13){
        top: 0px;
        left: 0;
        height: 540px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>div:nth-child(1){
        height: 540px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(13)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -381px;
        width: 210px;
    }

    main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
        top: -349px;
        left: 1px;
        width: 29px;
        height: 3px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left:2px;
        top: 32px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
        margin-left: 61px;
        margin-top: 11px;
        font-size: 12px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
        margin-left: 61px;
        margin-top: 26px;
        font-size: 11px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left:2px;
        top: 80px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
        margin-left: 61px;
        margin-top: 11px;
        font-size: 12px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
        margin-left: 61px;
        margin-top: 27px;
        font-size: 11px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
        margin-left: 61px;
        margin-top: 39px;
        font-size: 11px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
        left:2px;
        top: 128px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
        margin-left: 61px;
        margin-top: 16px;
        font-size: 12px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
        margin-left: 61px;
        margin-top: 32px;
        font-size: 11px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
        left:2px;
        top: 176px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
        margin-left: 61px;
        margin-top: 15px;
        font-size: 12px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
        margin-left: 61px;
        margin-top: 29px;
        font-size: 11px;
        width: 109px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
        left:167px;
        top: 30px;
        width: 40px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
        left: -129px;
        font-size: 13px;
        width: 72vw;
        top: 193px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
        left: -133px;
        top: 228px;
        font-size: 12px;
        width:76vw ;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
        left:-192px;
        top: 264px;
        width: 50vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
        left: 289px;
        top: 64px;
        font-size: 14px;
        width: 90px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
        left:99px;
        top: 98px;
        width: 38vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
        left:105px;
        top: 1px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
        left:105px;
        top: 27px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
        left:105px;
        top: 51px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
        left:105px;
        top: 76px;
        width: 75vw;
        height: 60px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
        left:205px;
        top: 150px;
        font-size: 13px;
        border: 1px solid #F3BF06;
        height: 19px;
        width: 16vw;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    main>section:nth-child(13){
        top: 0px;
        left: 0;
        height: 620px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>div:nth-child(1){
        height: 620px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(13)>section:nth-child(2)>h1{
        font-size: 22px;
        top: -381px;
        width: 300px;
    }

    main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
        top: -340px;
        left: 1px;
        width: 42px;
        height: 3px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left:2px;
        top: 54px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
        width: 12vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
        margin-left: 90px;
        margin-top: 1px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
        margin-left: 90px;
        margin-top: 26px;
        font-size: 12px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left:2px;
        top: 120px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
        width: 12vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
        margin-left: 90px;
        margin-top: 1px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
        margin-left: 90px;
        margin-top: 19px;
        font-size: 12px;
        width: 152px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
        margin-left: 90px;
        margin-top: 35px;
        font-size: 11px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
        left:2px;
        top: 186px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
        margin-left: 90px;
        margin-top: 1px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
        margin-left: 90px;
        margin-top: 28px;
        font-size: 12px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
        left:2px;
        top: 252px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
        width: 14vw;
        height: 50px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
        margin-left: 90px;
        margin-top: 1px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
        margin-left: 90px;
        margin-top: 28px;
        font-size: 12px;
        width: 152px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
        left:167px;
        top: 119px;
        width: 40px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
        left: -73px;
        font-size: 14px;
        width: 72vw;
        top: 193px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
        left: -73px;
        top: 228px;
        font-size: 14px;
        width:76vw ;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
        left:-192px;
        top: 264px;
        width: 50vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
        left: 445px;
        top: 141px;
        font-size: 15px;
        width: 95px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
        left:118px;
        top: 172px;
        width: 38vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
        left:105px;
        top: 1px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
        left:105px;
        top: 27px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
        left:105px;
        top: 51px;
        width: 75vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
        left:105px;
        top: 76px;
        width: 75vw;
        height: 60px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
        left:317px;
        top: 150px;
        font-size: 14px;
        border: 1px solid #F3BF06;
        height: 22px;
        width: 15vw;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:nth-child(13){
        top: 0px;
        left: 0;
        height: 418px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>div:nth-child(1){
        height: 418px;
        width: 98.7vw;
    }

    main > section:nth-child(13)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(13)>section:nth-child(2)>h1{
        font-size: 27px;
        top: -381px;
        width: 300px;
    }

    main > section:nth-child(13)>section:nth-child(2)>div:nth-child(2){
        top: -326px;
        left: 1px;
        width: 55px;
        height: 4px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: 2px;
        top: 71px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>div:nth-child(1){
        width: 9vw;
        height: 60px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(2){
        margin-left: 100px;
        margin-top: 11px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1)>h3:nth-child(3){
        margin-left: 100px;
        margin-top: 30px;
        font-size: 12px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 2px;
        top: 140px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>div:nth-child(1){
        width: 9vw;
        height: 60px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(2){
        margin-left: 100px;
        margin-top: 7px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(3){
        margin-left: 100px;
        margin-top: 26px;
        font-size: 12px;
        width: 152px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2)>h3:nth-child(4){
        margin-left: 100px;
        margin-top: 41px;
        font-size: 11px;
        width: 109px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3){
        left: 2px;
        top: 209px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>div:nth-child(1){
        width: 9vw;
        height: 60px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(2){
        margin-left: 100px;
        margin-top: 12px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(3)>h3:nth-child(3){
        margin-left: 100px;
        margin-top: 33px;
        font-size: 12px;
        width: 152px;
    }

    /*!*-------------------------------------------*!*/

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4){
        left: 2px;
        top: 278px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>div:nth-child(1){
        width: 9vw;
        height: 60px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(2){
        margin-left: 100px;
        margin-top: 12px;
        font-size: 15px;
    }

    main > section:nth-child(13)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(4)>h3:nth-child(3){
        margin-left: 100px;
        margin-top: 33px;
        font-size: 12px;
        width: 152px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1){
        left:167px;
        top: 119px;
        width: 40px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(1){
        left: 234px;
        font-size: 14px;
        width: 51vw;
        top: -58px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>article:nth-child(1)>p:nth-child(2){
        left: 234px;
        top: -25px;
        font-size: 14px;
        width:50vw ;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2){
        left:-192px;
        top: 264px;
        width: 50vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>div:nth-child(1){
        left: 786px;
        top: -91px;
        font-size: 20px;
        width: 123px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2){
        left: 488px;
        top: -56px;
        width: 34vw;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(1){
        left: 105px;
        top: 1px;
        width: 48vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(2){
        left: 105px;
        top: 27px;
        width: 48vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>input:nth-child(3){
        left: 105px;
        top: 51px;
        width: 48vw;
        height: 16px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>textarea:nth-child(4){
        left: 105px;
        top: 76px;
        width: 48vw;
        height: 60px;
        font-size: 11px;
    }

    main > section:nth-child(13)>section:nth-child(3)>section:nth-child(2)>section:nth-child(2)>form:nth-child(2)>button:nth-child(5){
        left: 311px;
        top: 150px;
        font-size: 14px;
        border: 1px solid #F3BF06;
        height: 22px;
        width: 11vw;
    }
}



