/*--------------------Education-------------------------*/

main>section:nth-child(5){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 1150px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(5)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 1150px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(5)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(5)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(5)>section:nth-child(2)>div{
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -327px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}

main > section:nth-child(5)>section:nth-child(4){
    position: absolute;
    margin-top: 42px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 660px;
    z-index: 5;
    height: 616px;
    width: 35px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(1){
    margin-left: 0px;
    background: url("../../assests/images/graduat Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(2){
    margin-left: 16px;
    background: url("../../assests/images/small Line.png");
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 4px;
}
/*--------------------------------IJSE---------------------------------*/
main > section:nth-child(5)>section:nth-child(4)>div:nth-child(3){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(4){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1){
    position: absolute;
    left: 731px;
    top: 109px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 378px;
    top: 8px;
    width: 50px;
    height: 50px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 127px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 147px;
    top: 31px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 14px;
    top: 84px;
    margin: 0;
}

/*--------------------------------Britishway---------------------------------*/

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(5){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(6){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(7){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1){
    position: absolute;
    left: 186px;
    top: 260px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 377px;
    top: 8px;
    width: 50px;
    height: 50px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 112px;
    top: 1px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 192px;
    top: 33px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 59px;
    top: 63px;
}

/*--------------------------------A/L Exam---------------------------------*/

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(8){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(9){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(10){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2){
    position: absolute;
    left: 731px;
    top: 417px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 378px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 65px;
    top: -9px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 151px;
    top: 16px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 154px;
    top: 62px;
    margin: 0;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(5){
    position: absolute;
    color: #FFFFFF;
    right: 9px;
    top: 88px;
    margin: 0;
}

/*--------------------------------Kannangara---------------------------------*/

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(11){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(12){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(13){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2){
    position: absolute;
    left: 186px;
    top: 579px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 377px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 112px;
    top: 4px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 170px;
    top: 35px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 2px;
    top: 63px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(8){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(9){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(10){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2){
    position: absolute;
    left: 731px;
    top: 417px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 378px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 65px;
    top: -9px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 151px;
    top: 16px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 154px;
    top: 62px;
    margin: 0;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(5){
    position: absolute;
    color: #FFFFFF;
    right: 9px;
    top: 88px;
    margin: 0;
}

/*--------------------------------O/L Exam---------------------------------*/

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(14){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(15){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(16){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3){
    position: absolute;
    left: 731px;
    top: 740px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 378px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 10px;
    top: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 171px;
    top: 36px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 72px;
    top: 86px;
    margin: 0;
}

/*--------------------------------Primary---------------------------------*/

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(17){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 139px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(18){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(19){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3){
    position: absolute;
    left: 186px;
    top: 901px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 377px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 108px;
    top: 0px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 149px;
    top: 35px;
}

main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 65px;
    top: 64px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(20){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 4px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(21){
    margin-left: 11px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 15px;
    width: 15px;
}

main>hr:nth-child(6){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    main>section:nth-child(5){
        top: 1px;
        left: 0;
        height: 460px;
        width: 320px;
    }

    main > section:nth-child(5)>div:nth-child(1){
        height: 460px;
        width: 320px;
    }

    main > section:nth-child(5)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(5)>section:nth-child(2)>h1{
        font-size: 13px;
        top: -381px;
    }

    main > section:nth-child(5)>section:nth-child(2)>div{
        top: -354px;
        left: 1px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4){
        margin-top: 14px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 134px;
        height: 222px;
        width: 25px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(1){
        margin-left: 8px;
        height: 20px;
        width: 20px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(2){
        margin-left: 17px;
        height: 35px;
        width: 2px;
    }
/*    !*--------------------------------IJSE---------------------------------*!*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(3){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(4){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1){
        left: 165px;
        top: 57px;
        width: 108px;
        height: 57px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 91px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(2){
        right: 16px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(3){
        right: 27px;
        top: 10px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(4){
        right: 14px;
        top: 27px;
        font-size: 8px;
        margin-left: 22px;
    }

/*    !*--------------------------------Britishway---------------------------------*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(5){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(6){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(7){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1){
        left: 28px;
        top: 122px;
        width: 108px;
        height: 57px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 90px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(2){
        right: 7px;
        top: -2px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(3){
        right: 41px;
        top: 9px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(4){
        right: 27px;
        top: 20px;
        font-size: 8px;
        margin-left: 24px;
    }

/*    !*--------------------------------A/L Exam---------------------------------*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(8){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(9){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(10){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2){
        left: 165px;
        top: 183px;
        width: 108px;
        height: 59px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 91px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(2){
        right: 2px;
        font-size: 8px;
        top: -2px;
        margin-left: 22px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(3){
        right: 32px;
        top: 17px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(4){
        right: 35px;
        top: 34px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(5){
        right: -20px;
        top: 41px;
        font-size: 8px;
        margin-left: 6px;
    }

/*    !*--------------------------------Kannangara---------------------------------*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(11){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(12){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(13){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2){
        left: 28px;
        top: 249px;
        width: 108px;
        height: 62px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 90px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(2){
        right: 2px;
        top: -2px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(3){
        right: 34px;
        top: 9px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(4){
        right: 27px;
        top: 16px;
        font-size: 8px;
        margin-left: 24px;
    }

/*    !*--------------------------------O/L Exam---------------------------------*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(14){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(15){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(16){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3){
        left: 165px;
        top: 312px;
        width: 108px;
        height: 59px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 91px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(2){
        right: 2px;
        font-size: 8px;
        top: -2px;
        margin-left: 22px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(3){
        right: 48px;
        top: 25px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(4){
        right: 0px;
        margin-left: 22px;
        top: 41px;
        font-size: 8px;
    }

    /*--------------------------------Primary---------------------------------*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(17){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(18){
        margin-left: 11px;
        height: 14px;
        width: 14px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(19){
        margin-left: 17px;
        margin-top: -9px;
        height: 3px;
        width: 3px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3){
        left: 28px;
        top: 377px;
        width: 108px;
        height: 51px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>img:nth-child(1){
        width: 15px;
        height: 15px;
        right: 90px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(2){
        right: 9px;
        top: -2px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(3){
        right: 34px;
        top: 9px;
        font-size: 8px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(4){
        right: 0px;
        top: 19px;
        font-size: 8px;
        margin-left: 24px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(20){
        margin-left: 17px;
        margin-top: 4px;
        height: 50px;
        width: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(21){
        margin-left: 13px;
        height: 10px;
        width: 10px;
    }

    main>hr:nth-child(2){
        margin-top: -54px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 308px;*/
    }

}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    main>section:nth-child(5){
        top: 0px;
        left: 0;
        height: 610px;
        width: 375px;
    }

    main > section:nth-child(5)>div:nth-child(1){
        height: 610px;
        width: 375px;
    }

    main > section:nth-child(5)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(5)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -381px;
    }

    main > section:nth-child(5)>section:nth-child(2)>div{
        top: -350px;
        left: 1px;
        width: 28px;
        height: 2px;
    }

    main > section:nth-child(5)>section:nth-child(4){
        margin-top: 21px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 160px;
        height: 300px;
        width: 35px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(1){
        margin-left: 8px;
        height: 27px;
        width: 27px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(2){
        margin-left: 20px;
        height: 54px;
        width: 3px;
    }
    /*!*    !*--------------------------------IJSE---------------------------------*!*!*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(3){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(4){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1){
        left: 197px;
        top: 79px;
        width: 138px;
        height: 60px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 116px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(2){
        right: 16px;
        font-size: 10px;
        top: -4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(3){
        right: 29px;
        top: 11px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(4){
        right: 1px;
        top: 34px;
        font-size: 10px;
        margin-left: 22px;
    }

    /*!*    !*--------------------------------Britishway---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(5){
        margin-left: 20px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(6){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(7){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1){
        left: 28px;
        top: 160px;
        width: 138px;
        height: 60px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 115px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(2){
        right: 9px;
        top: -4px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(3){
        right: 52px;
        top: 11px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(4){
        right: 5px;
        top: 23px;
        font-size: 10px;
        margin-left: 33px;
    }

    /*!*    !*--------------------------------A/L Exam---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(8){
        margin-left: 20px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(9){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(10){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2){
        left: 197px;
        top: 236px;
        width: 138px;
        height: 75px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 116px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(2){
        right: -3px;
        font-size: 10px;
        top: -6px;
        margin-left: 37px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(3){
        right: 31px;
        top: 17px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(4){
        right: 35px;
        top: 39px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(5){
        right: -20px;
        top: 49px;
        font-size: 10px;
        margin-left: 6px;
    }

    /*!*    !*--------------------------------Kannangara---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(11){
        margin-left: 20px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(12){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(13){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2){
        left: 28px;
        top: 330px;
        width: 138px;
        height: 60px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 115px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(2){
        right: 4px;
        top: -4px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(3){
        right: 43px;
        top: 11px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(4){
        right: -27px;
        top: 22px;
        font-size: 10px;
        margin-left: 15px;
    }

    /*!*    !*--------------------------------O/L Exam---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(14){
        margin-left: 20px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(15){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(16){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3){
        left: 197px;
        top: 401px;
        width: 138px;
        height: 75px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 115px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(2){
        right: -3px;
        font-size: 10px;
        top: -6px;
        margin-left: 36px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(3){
        right: 55px;
        top: 28px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(4){
        right: -9px;
        top: 49px;
        font-size: 10px;
        margin-left: 22px;
    }

    /*!*--------------------------------Primary---------------------------------*!*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(17){
        margin-left: 20px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(18){
        margin-left: 14px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(19){
        margin-left: 20px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3){
        left: 28px;
        top: 490px;
        width: 138px;
        height: 60px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>img:nth-child(1){
        width: 18px;
        height: 18px;
        right: 115px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(2){
        right: 14px;
        top: -4px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(3){
        right: 43px;
        top: 11px;
        font-size: 10px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(4){
        right: -19px;
        top: 22px;
        font-size: 10px;
        margin-left: 15px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(20){
        margin-left: 20px;
        margin-top: 4px;
        height: 60px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(21){
        margin-left: 16px;
        height: 12px;
        width: 12px;
    }

    main>hr:nth-child(2){
        margin-top: -32px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    main>section:nth-child(5){
        top: 0px;
        left: 0;
        height: 610px;
        width: 98.7vw;
    }

    main > section:nth-child(5)>div:nth-child(1){
        height: 610px;
        width: 98.7vw;
    }

    main > section:nth-child(5)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(5)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -381px;
    }

    main > section:nth-child(5)>section:nth-child(2)>div{
        top: -349px;
        left: 1px;
        width: 29px;
        height: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4){
        margin-top: 21px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 160px;
        height: 300px;
        width: 35px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(1){
        margin-left: 36px;
        height: 27px;
        width: 27px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(2){
        margin-left: 48px;
        height: 54px;
        width: 3px;
    }
    /*!*    !*--------------------------------IJSE---------------------------------*!*!*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(3){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(4){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1){
        left: 226px;
        top: 72px;
        width: 40vw;
        height: 76px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 145px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(2){
        right: 30px;
        font-size: 12px;
        top: -4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(3){
        right: 44px;
        top: 12px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(4){
        right: -7px;
        top: 40px;
        font-size: 12px;
        margin-left: 10px;
    }

    /*!*    !*--------------------------------Britishway---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(5){
        margin-left: 48px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(6){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(7){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1){
        left: 24px;
        top: 164px;
        width: 40vw;
        height: 76px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 146px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(2){
        right: 22px;
        font-size: 12px;
        top: -4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(3){
        right: 70px;
        top: 12px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(1)>h3:nth-child(4){
        right: -16px;
        top: 26px;
        font-size: 12px;
        margin-left: 29px;
    }

    /*!*    !*--------------------------------A/L Exam---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(8){
        margin-left: 48px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(9){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(10){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2){
        left: 226px;
        top: 244px;
        width: 40vw;
        height: 90px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 145px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(2){
        right: 7px;
        font-size: 12px;
        top: -5px;
        margin-left: 45px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(3){
        right: 50px;
        top: 25px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(4){
        right: 60px;
        top: 50px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(2)>h3:nth-child(5){
        right: 5px;
        top: 61px;
        font-size: 12px;
        margin-left: 6px;
    }

    /*!*    !*--------------------------------Kannangara---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(11){
        margin-left: 48px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(12){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(13){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2){
        left: 24px;
        top: 340px;
        width: 40vw;
        height: 76px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 145px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(2){
        right: 10px;
        top: -5px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(3){
        right: 53px;
        top: 12px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(2)>h3:nth-child(4){
        right: -26px;
        top: 30px;
        font-size: 12px;
        margin-left: 15px;
    }

    /*!*    !*--------------------------------O/L Exam---------------------------------*!*!*/

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(14){
        margin-left: 48px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(15){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(16){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3){
        left: 226px;
        top: 420px;
        width: 40vw;
        height: 76px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 145px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(2){
        right: -2px;
        font-size: 12px;
        top: -9px;
        margin-left: 32px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(3){
        right: 55px;
        top: 23px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(3)>h3:nth-child(4){
        right: -9px;
        top: 46px;
        font-size: 12px;
        margin-left: 22px;
    }

    /*!*--------------------------------Primary---------------------------------*!*/
    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(17){
        margin-left: 48px;
        margin-top: 4px;
        height: 68px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(18){
        margin-left: 42px;
        height: 16px;
        width: 16px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(19){
        margin-left: 48px;
        margin-top: -10px;
        height: 4px;
        width: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3){
        left: 24px;
        top: 503px;
        width: 40vw;
        height: 76px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>img:nth-child(1){
        width: 20px;
        height: 20px;
        right: 145px;
        top: 4px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(2){
        right: 21px;
        top: -6px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(3){
        right: 43px;
        top: 15px;
        font-size: 12px;
    }

    main > section:nth-child(5)>aside:nth-child(3)>div:nth-child(3)>h3:nth-child(4){
        right: -18px;
        top: 29px;
        font-size: 12px;
        margin-left: 33px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(20){
        margin-left: 48px;
        margin-top: 4px;
        height: 66px;
        width: 3px;
    }

    main > section:nth-child(5)>section:nth-child(4)>div:nth-child(21){
        margin-left: 44px;
        height: 12px;
        width: 12px;
    }

    main>hr:nth-child(2){
        margin-top: -32px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
    }
}