/*--------------------Footer-------------------------*/

footer{
    position: relative;
    background: #475D70;
    z-index: 4;
    height: 102px;
    width: 98.7vw;
}
footer>address:nth-child(1){
    width: 400px;
    height: 100px;
    z-index: 5;
}

footer>address:nth-child(1)>small:nth-child(1)>h4{
    position: absolute;
    padding-left:40px;
    padding-top: 37px;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #F3BF06;
}

footer>address:nth-child(1)>small:nth-child(2)>h4{
    position: absolute;
    padding-left:251px;
    padding-top: 37px;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #FFFFFF;
}

footer>aside:nth-child(2){
    position: absolute;
    top: 27px;
    left: 1098px;
    /*height: 107px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    z-index: 6;
}

main > aside:nth-child(2)>img{
    width: 50px;
    height: 50px;
}

main >aside:nth-child(2)>img:nth-child(1){
    order: 1;
}

main > aside:nth-child(2)>img:nth-child(2){
    order: 2;
}

main > aside:nth-child(2)>img:nth-child(3){
    order: 3;
}
