/*--------------------Footer-------------------------*/

footer{
    position: relative;
    background: #475D70;
    z-index: 4;
    height: 102px;
    width: 98.7vw;
}
footer>address:nth-child(1){
    width: 400px;
    height: 100px;
    z-index: 5;
}

footer>address:nth-child(1)>small:nth-child(1)>h4{
    position: absolute;
    padding-left:40px;
    padding-top: 37px;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #F3BF06;
}

footer>address:nth-child(1)>small:nth-child(2)>h4{
    position: absolute;
    padding-left:251px;
    padding-top: 37px;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #FFFFFF;
}

footer>aside:nth-child(2){
    position: absolute;
    top: 27px;
    left: 1098px;
    /*height: 107px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    z-index: 6;
}

footer > aside:nth-child(2)>img{
    width: 50px;
    height: 50px;
}

footer >aside:nth-child(2)>img:nth-child(1){
    order: 1;
}

footer > aside:nth-child(2)>img:nth-child(2){
    order: 2;
}

footer > aside:nth-child(2)>img:nth-child(3){
    order: 3;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    footer{
        height: 40px;
        width: 320px;
    }
    footer>address:nth-child(1){
        /*position: absolute;*/
        width: 100px;
        height: 20px;
        top: 2px;
        /*left: 5px;*/
    }

    footer>address:nth-child(1)>small:nth-child(1)>h4{
        padding-left:2px;
        padding-top: 15px;
        margin-top: 0;
        font-size: 8px;
    }

    footer>address:nth-child(1)>small:nth-child(2)>h4{
        padding-left:86px;
        padding-top: 15px;
        margin-top: 0;
        font-size: 8px;
    }

    footer>aside:nth-child(2){
        top: 10px;
        left: 231px;
        width: 60px;
        height: 20px;
    }

    footer > aside:nth-child(2)>img{
        width: 15px;
        height: 15px;
    }

    /*main >aside:nth-child(2)>img:nth-child(1){*/
    /*    order: 1;*/
    /*}*/

    /*main > aside:nth-child(2)>img:nth-child(2){*/
    /*    order: 2;*/
    /*}*/

    /*main > aside:nth-child(2)>img:nth-child(3){*/
    /*    order: 3;*/
    /*} */
}
