
    /*::-webkit-scrollbar {*/
    /*    scrollbar-width: none;*/
    /*}*/

body {
    margin: 0;
}


* {
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    height:460px ;
    width: 98.7vw;
}

/* add header background colour*/
header > section > section:nth-child(1) {
    /*background:#30336b ;*/
    background: #3F3C42;
    position: fixed;
    width: 98.7vw;
    top: 0;
    height: 56px;
    z-index: 5;
}

/* add header name */
header > section > section:nth-child(1) > div {
    font-family: lnika;
    font-size: 30px;
    -webkit-text-fill-color: #F3BF06;
    position: absolute;
    top: 11px;
    left: 10px;
}

/*nav of header*/
header > section > section:nth-child(1) > nav {
    position: absolute;
    right: 20px;
    top: -5px;
    /*padding-top: 0px;*/

}

/*header nav links*/
header > section > section:nth-child(1) > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', Inter;
    font-size: 19px;
    color: #ECECEC;
}

    header >section>section:nth-child(1)>nav>ul > li{
        margin-left: 20px;
    }

header > section > section:nth-child(2) {
    position: absolute;
    background: url("../../assests/images/woman with lap.jpg");
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    height: 460px;
    z-index: 3;
    width: 98.7vw;
    margin: auto;
}

/* add 2nd background image */
header > section > section:nth-child(2)>div:nth-child(1) {
    position: relative;
    background: url("../../assests/images/dark brown.jpg");
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 98.7vw;
    margin: auto;
}


/* add my pic for header image */
header > section > section:nth-child(2) > section:nth-child(2) > div {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 8px solid #C7A47B;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background:url("../../assests/images/my image.png") no-repeat center;
    background-size: 105% 105%;
    z-index: 5;
}

/* add h1 in header */
header > section > section:nth-child(2) > section:nth-child(3) > h1 {
    position: absolute;
    right: 0;
    left: 0;
    top: 298px;
    font-family: 'Poppins', Inter;
    z-index: 5;
}

/* add h2 in header */
header > section > section:nth-child(2) > section:nth-child(3) > h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 350px;
    font-family: IBM Plex Mono;
    z-index: 5;
}

/* add icons path */
header > section > section:nth-child(2) > section:nth-child(4) {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 410px;
    z-index: 5;

}

/* add icons in header */
header > section > section:nth-child(2) > section:nth-child(4) > img {
    /*position: absolute;*/
    height: 40px;
    width: 40px;
    padding-right: 8px;
}

header > section > section:nth-child(2) > div:nth-child(5){
    position: absolute;
    background: url("../../assests/images/scroll 1.png");
    background-size: cover;
    background-position: center;
    top: 441px;
    left: 28px;
    z-index: 6;
    width: 49px;
    height: 1px;
    /*margin: auto;*/
}

/* add scroll down bar path in header */
header > section > section:nth-child(2) > div:nth-child(6) {
    position: absolute;
    left: 87px;
    top: 410px;
    z-index: 5;
}

/* add h3 in header */
header > section > section:nth-child(2) > section:nth-child(6) > h3 {
    /*position: absolute;*/
    font-family:  'Poppins', Inter;
}

/*-----------------------------Start Main--------------------------------------*/

