#loadingContainer{
    background: #487eb0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 500;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 130px;
    place-items: center;

    box-sizing: border-box;
}


.classic-4 {
    position: relative;
        top: 40vh;
        left: 0;
        right: 0;
        bottom: 0;
    margin: auto;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
    animation: c2 1s infinite alternate linear;
}

.classic-4::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: inherit;
    background-position: inherit;
}

@keyframes c4 {
    100% {
        background-position: left;
    }
}
@keyframes c2 {
    100% {
        background-position: left;
    }
}