body {
    margin: 0;
}

main {
    position: relative;
    /*margin-top: 460px;*/

}
/*--------------------About Me-------------------------*/
main>section:nth-child(1){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 0px;
    left: 0;
    height: 700px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(1)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 700px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(1) > aside:nth-child(2)>div{
    position: absolute;
    width: 300px;
    height: 579px;
    border: 3px solid #F3BF06;
    left: 40px;
    bottom: 0;
    top: 0;
    margin: auto;
    background:url("../../assests/images/my image 2.png");
    background-size: cover;
    background-position: center;
    z-index: 5;
}

main>section:nth-child(1)>section:nth-child(3){
    position: absolute;
    left: 420px;
    top: 200px;
    width: 400px;
    height: 400px;
    z-index: 5;
}


main>section:nth-child(1)>section:nth-child(3)>section:nth-child(1)>h3{
    position: absolute;
    font-size: 30px;
    top: -200px;
    color: #F3BF06;

}

main>section:nth-child(1)>section:nth-child(3)>section:nth-child(1)>h2{
    position: absolute;
    font-size: 35px;
    top: -163px;
    color: #FFFFFF;
}

main>section:nth-child(1)>section:nth-child(3)>article:nth-child(2){
    position: absolute;
    left: 0;
    top: -94px;
    width: 922px;
    height: 300px;
}

main>section:nth-child(1)>section:nth-child(3)>article:nth-child(2)>p{
    font-size: 20px;
    width: 600px;
    height: 450px;
    right: 5vw;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3){
    position: absolute;
    left: 0;
    top: 94px;
    width: 700px;
    height: 260px;
    border: 2px solid #F3BF06;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h3{
    color: #F3BF06;
    font-size: 19px;
    margin-left: 12px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h3:nth-child(1){
    margin-top: 14px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4{
    color: #FFFFFF;
    font-size: 19px;
    margin-bottom: 0;
}
main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(2){
    margin-top: -40px;
    margin-left: 100px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(4){
    margin-top: -40px;
    margin-left: 162px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(6){
    margin-top: -40px;
    margin-left: 139px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(8){
    margin-top: -40px;
    margin-left: 122px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(10){
    margin-top: -40px;
    margin-left: 117px;
}

main>section:nth-child(1)>section:nth-child(3)>address:nth-child(3)>h4:nth-child(12){
    margin-top: -40px;
    margin-left: 117px;
}

main>section:nth-child(1)>section:nth-child(3)>div:last-child{
    margin-top:400px;
    margin-left: 2px;
}

main>section:nth-child(1)>section:nth-child(3)>div:last-child>button{
    background-color: #F3BF06;
    color: #FFFFFF;
    border: 0px solid #F3BF06;
    border-radius: 5px;
    height: 42px;
    width: 155px;
    margin-top: 2px;
}

main>hr:nth-child(2){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
}


/*--------------------My Gallery-------------------------*/

main>section:nth-child(3){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 700px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(3)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 700px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(3)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(3)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(3)>section:nth-child(3){
    position: absolute;
    left: 88px;
    top: 107px;
    width: 900px;
    height: 360px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(3)>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    left: 30px;
    top: 17px;
    font-size: 20px;
    color: #FFFFFF;
}

main > section:nth-child(3)>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    left: 31px;
    top: 80px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: url("../../assests/images/my image 4.jpg");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(3)>section:nth-child(3)>div:nth-child(3){
    position: absolute;
    left: 298px;
    top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("../../assests/images/my image 5.jpeg");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(3)>section:nth-child(3)>div:nth-child(4){
    position: absolute;
    left: 664px;
    top: 80px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background: url("../../assests/images/my image 3.jpeg");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(3)>section:nth-child(3)>div:nth-child(5){
    position: absolute;
    left: 755px;
    top: 316px;
    font-size: 20px;
    text-decoration: underline;
    color: #F3BF06;
}

main > section:nth-child(3)>div:nth-child(4){
    position: absolute;
    left: 86px;
    top: 507px;
    font-size: 30px;
    color: #F3BF06;
    z-index: 5;
}

main > section:nth-child(3)>section:nth-child(5){
    position: absolute;
    top: 553px;
    left: 85px;
    height: 107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    z-index: 6;
}

main > section:nth-child(3)>section:nth-child(5)>img{
    width: 80px;
    height: 100px;
}

main > section:nth-child(3)>section:nth-child(5)>img:nth-child(1){
    order: 2;
}

main > section:nth-child(3)>section:nth-child(5)>img:nth-child(2){
    order: 3;
}

main > section:nth-child(3)>section:nth-child(5)>img:nth-child(3){
    order: 1;
}

main > section:nth-child(3)>section:nth-child(5)>img:nth-child(4){
    order: 4;
}

main>hr:nth-child(4){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
}


/*--------------------Education-------------------------*/

main>section:nth-child(5){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 850px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(5)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 850px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(5)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(5)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(5)>section:nth-child(4){
    position: absolute;
    margin-top: 42px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 660px;
    z-index: 5;
    height: 616px;
    width: 35px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(1){
    margin-left: 0px;
    background: url("../../assests/images/graduat Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(2){
    margin-left: 16px;
    background: url("../../assests/images/small Line.png");
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 4px;
}
/*--------------------------------IJSE---------------------------------*/
main > section:nth-child(5)>section:nth-child(4)>div:nth-child(3){
    margin-left: 6px;
    background: url("../../assests/images/border Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 23px;
}

main > section:nth-child(5)>section:nth-child(4)>div:nth-child(4){
    margin-left: 15px;
    margin-top: -15px;
    background: url("../../assests/images/small Ellipse.png");
    background-size: cover;
    background-position: center;
    height: 6px;
    width: 6px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1){
    position: absolute;
    left: 731px;
    top: 109px;
    width: 436px;
    height: 131px;
    z-index: 5;
    border: 2px solid #F3BF06;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>img:nth-child(1){
    position: absolute;
    border-radius: 100%;
    right: 378px;
    top: 8px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    color: #FFFFFF;
    right: 127px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    color: #FFFFFF;
    right: 147px;
    top: 31px;
}

main > section:nth-child(5)>aside:nth-child(5)>div:nth-child(1)>h3:nth-child(4){
    position: absolute;
    color: #FFFFFF;
    right: 14px;
    top: 84px;
    margin: 0;
}

/*--------------------------------IJSE---------------------------------*/
main > section:nth-child(5)>section:nth-child(4)>div:nth-child(5){
    margin-left: 16px;
    margin-top: 7px;
    background: url("../../assests/images/big Line.png");
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 4px;
}