/*--------------------My Projects-------------------------*/

main>section:nth-child(9){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 1000px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(9)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 1000px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(9)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(2)>h1:nth-child(1){
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
    width: 478px;
}
main > section:nth-child(9)>section:nth-child(2)>section:nth-child(3){
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -318px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}


main > section:nth-child(9)>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    font-size: 25px;
    top: -290px;
    color: #F3BF06;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    left:216px;
    top: 175px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1)>h3{
    position: absolute;
    font-size: 25px;
    color: #FFFFFF;
    left:73px;
    top: -18px;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    left:530px;
    top: 175px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2)>h3{
    position: absolute;
    font-size: 25px;
    color: #FFFFFF;
    left:118px;
    top: -18px;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3){
    position: absolute;
    left:846px;
    top: 175px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3)>h3{
    position: absolute;
    font-size: 25px;
    color: #FFFFFF;
    left:106px;
    top: -18px;
}

main > section:nth-child(9)>section:nth-child(4)>div:nth-child(1){
    position: absolute;
    left:82px;
    top: 327px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/pro 1.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(4)>div:nth-child(2){
    position: absolute;
    left:260px;
    top: 368px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/pro 2.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(4)>div:nth-child(3){
    position: absolute;
    left:493px;
    top: 393px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/pro 3.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(4)>div:nth-child(4){
    position: absolute;
    left:737px;
    top: 368px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/pro 4.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(4)>div:nth-child(5){
    position: absolute;
    left:933px;
    top: 327px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/pro 5.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>div:nth-child(5){
    position: absolute;
    left: 1089px;
    top: 577px;
    font-size: 20px;
    text-decoration: underline;
    color: #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>div:nth-child(5)>a{
    color: #F3BF06;
   text-decoration: none;
}

main > section:nth-child(9)>section:nth-child(6){
    position: absolute;
    left:41px;
    top: 700px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(6)>h1{
    position: absolute;
    font-size: 35px;
    top: -86px;
    color: #FFFFFF;
}

main > section:nth-child(9)>section:nth-child(7)>div:nth-child(1){
    position: absolute;
    left:82px;
    top: 729px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/c1.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(7)>div:nth-child(2){
    position: absolute;
    left:401px;
    top: 729px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/c2.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>section:nth-child(7)>div:nth-child(3){
    position: absolute;
    left:717px;
    top: 729px;
    width: 256px;
    height:181px;
    background: url("../../assests/images/c3.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F3BF06;
    z-index: 5;
}

main > section:nth-child(9)>button:nth-child(8){
    position: absolute;
    left:488px;
    top: 937px;
    width: 117px;
    height: 34px;
    border-radius: 10px;
    border: 2px solid #F3BF06;
    background-color: #283641;
    color: #F3BF06;
    z-index: 5;

}

main > section:nth-child(9)>button:nth-child(8)>a{
    color: #F3BF06;
    text-decoration: none;
}

main>hr:nth-child(10){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    main>section:nth-child(9){
        top: 1px;
        left: 0;
        height: 235px;
        width: 320px;
    }

    main > section:nth-child(9)>div:nth-child(1){
        height: 235px;
        width: 320px;
    }

    main > section:nth-child(9)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(9)>section:nth-child(2)>h1:nth-child(1){
        font-size: 13px;
        top: -381px;
        width: 177px;
    }
    main > section:nth-child(9)>section:nth-child(2)>section:nth-child(3){
        top: -354px;
        left: 1px;
        width: 26px;
        height: 2px;
    }


    main > section:nth-child(9)>section:nth-child(2)>div:nth-child(2){
        font-size: 12px;
        top: -349px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1){
        left:30px;
        top: 46px;
        width: 65px;
        height: 11px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1)>h3{
        font-size:8px;
        left:9px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2){
        left:100px;
        top: 46px;
        width: 65px;
        height: 11px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2)>h3{
        font-size:8px;
        left:24px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3){
        left:170px;
        top: 46px;
        width: 65px;
        height: 11px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3)>h3{
        font-size:8px;
        left:20px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(1){
        left:20px;
        top: 78px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(2){
        left:70px;
        top: 88px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(3){
        left:124px;
        top: 95px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(4){
        left:176px;
        top: 88px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(5){
        left:230px;
        top: 78px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>div:nth-child(5){
        left: 250px;
        top: 126px;
        font-size: 8px;
    }

    main > section:nth-child(9)>section:nth-child(6){
        left:11px;
        top: 130px;
        width: 95px;
        height: 25px;
    }

    main > section:nth-child(9)>section:nth-child(6)>h1{
        font-size: 12px;
        top: 7px;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(1){
        left:22px;
        top: 169px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(2){
        left:100px;
        top: 169px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(3){
        left:178px;
        top: 169px;
        width: 60px;
        height:34px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>button:nth-child(8){
        left:103px;
        top: 213px;
        width: 56px;
        height: 14px;
        border-radius: 5px;
        border: 1px solid #F3BF06;
        font-size: 8px;
    }

    main>hr:nth-child(2){
        margin-top: -54px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 308px;*/
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    main>section:nth-child(9){
        top: 1px;
        left: 0;
        height: 260px;
        width: 375px;
    }

    main > section:nth-child(9)>div:nth-child(1){
        height: 260px;
        width: 375px;
    }

    main > section:nth-child(9)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(9)>section:nth-child(2)>h1:nth-child(1){
        font-size: 15px;
        top: -381px;
        width: 210px;
    }
    main > section:nth-child(9)>section:nth-child(2)>section:nth-child(3){
        top: -350px;
        left: 1px;
        width: 28px;
        height: 2px;
    }


    main > section:nth-child(9)>section:nth-child(2)>div:nth-child(2){
        font-size: 14px;
        top: -344px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1){
        left:52px;
        top: 56px;
        width: 73px;
        height: 17px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(1)>h3{
        font-size:10px;
        left:9px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2){
        left:139px;
        top: 56px;
        width: 73px;
        height: 17px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(2)>h3{
        font-size:10px;
        left:24px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3){
        left:227px;
        top: 56px;
        width: 73px;
        height: 17px;
        border-radius: 4px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(3)>div:nth-child(3)>h3{
        font-size:10px;
        left:20px;
        top: -7px;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(1){
        left:35px;
        top: 95px;
        width: 63px;
        height:40px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(2){
        left:80px;
        top: 108px;
        width: 63px;
        height:40px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(3){
        left:132px;
        top: 124px;
        width: 63px;
        height:40px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(4){
        left:185px;
        top: 108px;
        width: 63px;
        height:40px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(4)>div:nth-child(5){
        left:238px;
        top: 95px;
        width: 63px;
        height:40px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>div:nth-child(5){
        left: 256px;
        top: 158px;
        font-size: 9px;
    }

    main > section:nth-child(9)>section:nth-child(6){
        left:11px;
        top: 130px;
        width: 95px;
        height: 25px;
    }

    main > section:nth-child(9)>section:nth-child(6)>h1{
        font-size: 14px;
        top: 31px;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(1){
        left:22px;
        top: 193px;
        width: 62px;
        height:38px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(2){
        left:110px;
        top: 193px;
        width: 62px;
        height:38px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>section:nth-child(7)>div:nth-child(3){
        left:200px;
        top: 193px;
        width: 62px;
        height:38px;
        border: 1px solid #F3BF06;
    }

    main > section:nth-child(9)>button:nth-child(8){
        left:274px;
        top: 232px;
        width: 66px;
        height: 16px;
        border-radius: 5px;
        border: 1px solid #F3BF06;
        font-size: 9px;
    }

    main>hr:nth-child(2){
        margin-top: -32px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 308px;*/
    }
}