/*--------------------My Services-------------------------*/

main>section:nth-child(11){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 700px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(11)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 700px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(11)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(11)>section:nth-child(2)>div{
    position: absolute;
    font-size: 25px;
    top: -378px;
    color: #F3BF06;
}

main > section:nth-child(11)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -362px;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -286px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
    position: absolute;
    left: 41px;
    top: 210px;
    width: 367px;
    height: 380px;
    z-index: 5;
    border: 3px solid #F3BF06;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
    position: absolute;
    left: 2px;
    top: 1px;
    width: 125px;
    height: 100px;
    background: url("../../assests/images/uiux.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
    position: absolute;
    left: 132px;
    top: 32px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
    position: absolute;
    left: 13px;
    top: 101px;
    font-size: 19px;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
    position: absolute;
    left: 492px;
    top: 210px;
    width: 367px;
    height: 380px;
    z-index: 5;
    border: 3px solid #F3BF06;
}

main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    left: -11px;
    top: 1px;
    width: 125px;
    height: 100px;
    background: url("../../assests/images/software.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    left: 93px;
    top: 32px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
    position: absolute;
    left: 38px;
    top: 101px;
    font-size: 19px;
    width:268px ;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
    position: absolute;
    left: 946px;
    top: 210px;
    width: 367px;
    height: 380px;
    z-index: 5;
    border: 3px solid #F3BF06;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
    position: absolute;
    left: 6px;
    top: 1px;
    width: 125px;
    height: 100px;
    background: url("../../assests/images/web.png");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
    position: absolute;
    left: 121px;
    top: 32px;
    font-size: 23px;
    color: #FFFFFF;
}

main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
    position: absolute;
    left: 69px;
    top: 101px;
    font-size: 19px;
    width:269px ;
    color: #FFFFFF;
}

main>hr:nth-child(12){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    main>section:nth-child(11){
        top: 0px;
        left: 0;
        height: 530px;
        width: 320px;
    }

    main > section:nth-child(11)>div:nth-child(1){
        height: 530px;
        width: 320px;
    }

    main > section:nth-child(11)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div{
        font-size: 12px;
        top: -374px;
    }

    main > section:nth-child(11)>section:nth-child(2)>h1{
        font-size: 13px;
        top: -368px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
        top: -342px;
        left: 1px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
        left: 62px;
        top: 43px;
        width: 158px;
        height: 143px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 65px;
        height: 45px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 11px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
        left: 8px;
        top: 40px;
        font-size: 9px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
        left: 62px;
        top: 203px;
        width: 158px;
        height: 143px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 65px;
        height: 45px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        left: 63px;
        top: 6px;
        font-size: 11px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
        left: 8px;
        top: 33px;
        font-size: 9px;
        width:150px ;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
        left: 62px;
        top: 364px;
        width: 158px;
        height: 143px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 65px;
        height: 45px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
        left: 50px;
        top: 16px;
        font-size: 11px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
        left: 8px;
        top: 39px;
        font-size: 9px;
        width:150px ;
    }

    main>hr:nth-child(12){
        margin-top: 1px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 320px;*/
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    main>section:nth-child(11){
        top: 0px;
        left: 0;
        height: 600px;
        width: 375px;
    }

    main > section:nth-child(11)>div:nth-child(1){
        height: 600px;
        width: 375px;
    }

    main > section:nth-child(11)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div{
        font-size: 14px;
        top: -374px;
    }

    main > section:nth-child(11)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -370px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
        top: -338px;
        left: 1px;
        width: 28px;
        height: 2px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
        left: 96px;
        top: 53px;
        width: 169px;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
        left: 9px;
        top: 40px;
        font-size: 11px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
        left: 96px;
        top: 234px;
        width: 169px;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
        left: 9px;
        top: 40px;
        font-size: 11px;
        width:167px ;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
        left: 96px;
        top: 415px;
        width: 169px;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
        left: 9px;
        top: 40px;
        font-size: 11px;
        width:150px ;
    }

    main>hr:nth-child(12){
        margin-top: 1px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 320px;*/
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    main>section:nth-child(11){
        top: 0px;
        left: 0;
        height: 600px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>div:nth-child(1){
        height: 600px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 100px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div{
        font-size: 14px;
        top: -374px;
    }

    main > section:nth-child(11)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -370px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
        top: -338px;
        left: 1px;
        width: 29px;
        height: 3px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
        left: 96px;
        top: 53px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
        left: 4px;
        top: 43px;
        font-size: 12px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
        left: 96px;
        top: 234px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
        left: 4px;
        top: 40px;
        font-size: 12px;
        width: 201px ;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
        left: 96px;
        top: 415px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
        left: -7px;
        top: 1px;
        width: 73px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
        left: 62px;
        top: 14px;
        font-size: 13px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
        left: 4px;
        top: 40px;
        font-size: 12px;
        width:204px ;
    }

    main>hr:nth-child(12){
        margin-top: 1px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 320px;*/
        width: 98.7vw;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    main>section:nth-child(11){
        top: 0px;
        left: 0;
        height: 672px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>div:nth-child(1){
        height: 672px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 300px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div{
        font-size: 20px;
        top: -374px;
    }

    main > section:nth-child(11)>section:nth-child(2)>h1{
        font-size: 22px;
        top: -370px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
        top: -324px;
        left: 1px;
        width: 42px;
        height: 3px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
        left: 162px;
        top: 76px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: 8px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 147px;
        top: 14px;
        font-size: 18px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
        left: 4px;
        top: 53px;
        font-size: 15px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
        left: 162px;
        top: 280px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        left: 8px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        left: 147px;
        top: 14px;
        font-size: 18px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
        left: 4px;
        top: 50px;
        font-size: 15px;
        width: 368px ;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
        left: 162px;
        top: 484px;
        width: 51vw;
        height: 170px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
        left: 8px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
        left: 147px;
        top: 14px;
        font-size: 18px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
        left: 4px;
        top: 50px;
        font-size: 15px;
        width:391px ;
    }

    main>hr:nth-child(12){
        margin-top: 1px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        width: 98.7vw;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:nth-child(11){
        top: 0px;
        left: 0;
        height: 427px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>div:nth-child(1){
        height: 427px;
        width: 98.7vw;
    }

    main > section:nth-child(11)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 300px;
        height: 50px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div{
        font-size: 25px;
        top: -366px;
    }

    main > section:nth-child(11)>section:nth-child(2)>h1{
        font-size: 27px;
        top: -360px;
    }

    main > section:nth-child(11)>section:nth-child(2)>div:nth-child(3){
        top: -304px;
        left: 1px;
        width: 55px;
        height: 4px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1){
        left: 41px;
        top: 122px;
        width: 28vw;
        height: 260px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(1){
        left: -10px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>div:nth-child(2){
        left: 89px;
        top: 14px;
        font-size: 18px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(1)>p:nth-child(3){
        left: 4px;
        top: 53px;
        font-size: 15px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2){
        left: 364px;
        top: 122px;
        width: 28vw;
        height: 260px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
        left: -10px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
        left: 67px;
        top: 14px;
        font-size: 18px;
        width: 209px;
    }

    main > section:nth-child(11)>section:nth-child(3)>section:nth-child(2)>p:nth-child(3){
        left: 4px;
        top: 50px;
        font-size: 15px;
        width: 280px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3){
        left: 687px;
        top: 122px;
        width: 28vw;
        height: 260px;
        border: 2px solid #F3BF06;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(1){
        left: -10px;
        top: 1px;
        width: 83px;
        height: 59px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>div:nth-child(2){
        left: 82px;
        top: 14px;
        font-size: 18px;
        width: 168px;
    }

    main > section:nth-child(11)>section:nth-child(3)>aside:nth-child(3)>p:nth-child(3){
        left: 4px;
        top: 50px;
        font-size: 15px;
        width: 282px;
    }

    main>hr:nth-child(12){
        margin-top: 1px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        width: 98.7vw;
    }
}