/*--------------------My Skills-------------------------*/

main>section:nth-child(7){
    position: relative;
    background: url("../../assests/images/trnasback.jpg");
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 0;
    height: 700px;
    z-index: 3;
    width: 98.7vw;
}

main > section:nth-child(7)>div:nth-child(1){
    position: absolute;
    background: #283641;
    opacity: 0.8;
    z-index: 4;
    height: 700px;
    width: 98.7vw;
    margin: auto;
}

main > section:nth-child(7)>section:nth-child(2){
    position: absolute;
    left:41px;
    top: 400px;
    width: 400px;
    height: 400px;
    z-index: 5;
}

main > section:nth-child(7)>section:nth-child(2)>h1{
    position: absolute;
    font-size: 35px;
    top: -396px;
    color: #FFFFFF;
}

main > section:nth-child(7)>section:nth-child(2)>div{
    position: absolute;
    background: url("../../assests/images/under.png");
    background-size: cover;
    background-position: center;
    top: -327px;
    left: 1px;
    z-index: 6;
    width: 69px;
    height: 3px;
}

main > section:nth-child(7)>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    background: url("../../assests/images/lang.png");
    background-size: cover;
    background-position: center;
    top: 90px;
    left: 925px;
    z-index: 6;
    width: 241px;
    height: 4px;
}

main > section:nth-child(7)>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    left: 525px;
    top: 77px;
    font-size: 28px;
    color: #F3BF06;
    z-index: 5;
}

main > section:nth-child(7)>section:nth-child(3)>div:nth-child(3){
    position: absolute;
    left: 690px;
    top: 77px;
    font-size: 28px;
    color: #FFFFFF;
    z-index: 5;
}

main > section:nth-child(7)>section:nth-child(3)>div:nth-child(4){
    position: absolute;
    background: url("../../assests/images/frame.png");
    background-size: cover;
    background-position: center;
    top: 90px;
    left: 248px;
    z-index: 6;
    width: 241px;
    height: 4px;
}

main > section:nth-child(7)>section:nth-child(4){
    position: absolute;
    top: 92px;
    left: 345px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    z-index: 6;
}

main > section:nth-child(7)>section:nth-child(4)>img{
    width: 100px;
    height: 150px;
}

main > section:nth-child(7)>section:nth-child(4)>img:nth-child(1){
    order: 1;
}

main > section:nth-child(7)>section:nth-child(4)>img:nth-child(2){
    order: 2;
}

main > section:nth-child(7)>section:nth-child(4)>img:nth-child(3){
    order: 3;
}

main > section:nth-child(7)>section:nth-child(5){
    position: absolute;
    top: 92px;
    left: 793px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    z-index: 6;
}

main > section:nth-child(7)>section:nth-child(5)>img{
    width: 100px;
    height: 150px;
}

main > section:nth-child(7)>section:nth-child(5)>img:nth-child(1){
    order: 1;
}

main > section:nth-child(7)>section:nth-child(5)>img:nth-child(2){
    order: 2;
}

main > section:nth-child(7)>section:nth-child(5)>img:nth-child(3){
    order: 3;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(1){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 136px;
    left: 482px;
    z-index: 6;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(2){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 286px;
    left: 482px;
    z-index: 6;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(3){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 425px;
    left: 482px;
    z-index: 6;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(4){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 136px;
    left: 928px;
    z-index: 6;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(5){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 286px;
    left: 928px;
    z-index: 6;
}

main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(6){
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    top: 425px;
    left: 928px;
    z-index: 6;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(1){
    position: absolute;
    left: 211px;
    top: 540px;
    font-size: 27px;
    color: #F3BF06;
    z-index: 6;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2){
    position: absolute;
    top: 553px;
    left: 192px;
    height: 107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    z-index: 6;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img{
    width: 100px;
    height: 150px;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img:nth-child(1){
    order: 1;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img:nth-child(2){
    order: 2;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img:nth-child(3){
    order: 3;
}

main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img:nth-child(4){
    order: 4;
}

main>hr:nth-child(8){
    top: -18px;
    box-shadow: 3px 2px 5px 1px #D0C4C4;
    margin: 0;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    main>section:nth-child(7){
        top: 1px;
        left: 0;
        height: 190px;
        width: 320px;
    }

    main > section:nth-child(7)>div:nth-child(1){
        height: 190px;
        width: 320px;
    }

    main > section:nth-child(7)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(7)>section:nth-child(2)>h1{
        font-size: 13px;
        top: -381px;
    }

    main > section:nth-child(7)>section:nth-child(2)>div{
        top: -354px;
        left: 1px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(7)>section:nth-child(3)>div:nth-child(1){
        top: 30px;
        left: 58px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(7)>section:nth-child(3)>div:nth-child(2){
        left: 86px;
        top: 24px;
        font-size: 12px;
    }

    main > section:nth-child(7)>section:nth-child(3)>div:nth-child(3){
        left: 156px;
        top: 24px;
        font-size: 12px;
    }

    main > section:nth-child(7)>section:nth-child(3)>div:nth-child(4){
        top: 30px;
        left: 245px;
        width: 26px;
        height: 2px;
    }

    main > section:nth-child(7)>section:nth-child(4){
        top: 28px;
        left: 42px;
        height: 66px;
        width: 34px;
    }

    main > section:nth-child(7)>section:nth-child(4)>img{
        width: 40px;
        height: 42px;
    }


    main > section:nth-child(7)>section:nth-child(5){
        top: 28px;
        left: 143px;
        height: 66px;
        width: 34px;
    }

    main > section:nth-child(7)>section:nth-child(5)>img{
        width: 40px;
        height: 42px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(1){
        font-size: 10px;
        top: 34px;
        left: 82px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(2){
        font-size: 10px;
        top: 79px;
        left: 82px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(3){
        font-size: 10px;
        top: 117px;
        left: 82px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(4){
        font-size: 10px;
        top: 34px;
        left: 178px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(5){
        font-size: 10px;
        top: 79px;
        left: 178px;
    }

    main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(6){
        font-size: 10px;
        top: 117px;
        left: 178px;
    }

    main > section:nth-child(7)>section:nth-child(7)>div:nth-child(1){
        left: 30px;
        top: 149px;
        font-size: 12px;
    }

    main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2){
        top: 154px;
        left: 23px;
        height: 41px;
        width: 151px;
    }

    main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img{
        width: 37px;
        height: 28px;
    }

    main>hr:nth-child(2){
        margin-top: -54px;
        box-shadow: 3px 2px 5px 1px #D0C4C4;
        /*width: 308px;*/
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    main>section:nth-child(7){
        top: 0px;
        left: 0;
        height: 245px;
        width: 375px;
    }

    main > section:nth-child(7)>div:nth-child(1){
        height: 245px;
        width: 375px;
    }

    main > section:nth-child(7)>section:nth-child(2){
        left:11px;
        top: 377px;
        width: 85px;
        height: 10px;
    }

    main > section:nth-child(7)>section:nth-child(2)>h1{
        font-size: 15px;
        top: -381px;
    }

    main > section:nth-child(7)>section:nth-child(2)>div{
        top: -350px;
        left: 1px;
        width: 28px;
        height: 2px;
    }

    /*main > section:nth-child(7)>section:nth-child(3)>div:nth-child(1){*/
    /*    top: 30px;*/
    /*    left: 58px;*/
    /*    width: 26px;*/
    /*    height: 2px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(3)>div:nth-child(2){*/
    /*    left: 86px;*/
    /*    top: 24px;*/
    /*    font-size: 12px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(3)>div:nth-child(3){*/
    /*    left: 156px;*/
    /*    top: 24px;*/
    /*    font-size: 12px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(3)>div:nth-child(4){*/
    /*    top: 30px;*/
    /*    left: 245px;*/
    /*    width: 26px;*/
    /*    height: 2px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(4){*/
    /*    top: 28px;*/
    /*    left: 42px;*/
    /*    height: 66px;*/
    /*    width: 34px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(4)>img{*/
    /*    width: 40px;*/
    /*    height: 42px;*/
    /*}*/


    /*main > section:nth-child(7)>section:nth-child(5){*/
    /*    top: 28px;*/
    /*    left: 143px;*/
    /*    height: 66px;*/
    /*    width: 34px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(5)>img{*/
    /*    width: 40px;*/
    /*    height: 42px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(1){*/
    /*    font-size: 10px;*/
    /*    top: 34px;*/
    /*    left: 82px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(2){*/
    /*    font-size: 10px;*/
    /*    top: 79px;*/
    /*    left: 82px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(3){*/
    /*    font-size: 10px;*/
    /*    top: 117px;*/
    /*    left: 82px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(4){*/
    /*    font-size: 10px;*/
    /*    top: 34px;*/
    /*    left: 178px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(5){*/
    /*    font-size: 10px;*/
    /*    top: 79px;*/
    /*    left: 178px;*/
    /*}*/

    /*main > section:nth-child(7)>div:nth-child(6)>h3:nth-child(6){*/
    /*    font-size: 10px;*/
    /*    top: 117px;*/
    /*    left: 178px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(7)>div:nth-child(1){*/
    /*    left: 30px;*/
    /*    top: 149px;*/
    /*    font-size: 12px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2){*/
    /*    top: 154px;*/
    /*    left: 23px;*/
    /*    height: 41px;*/
    /*    width: 151px;*/
    /*}*/

    /*main > section:nth-child(7)>section:nth-child(7)>div:nth-child(2)>img{*/
    /*    width: 37px;*/
    /*    height: 28px;*/
    /*}*/

    /*main>hr:nth-child(2){*/
    /*    margin-top: -54px;*/
    /*    box-shadow: 3px 2px 5px 1px #D0C4C4;*/
    /*    !*width: 308px;*!*/
    /*}*/
}
