* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: linear-gradient(to right , #2c5364, #0f2027);
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

body>section>h2{
    position: absolute;
    color: white;
    font-family: Arial;
    top: 3vh;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
}

#img-gal{
    height: 360px;
    padding: 50px;
}
